extends layout

block content
  div.container-fluid

    h1= title
    p Bem vindo ao #{title}

    h1 Enviroments
    div.table-responsive
      table.table.table-striped
        thead.thead-dark
          tr
            th Key
            th Value
        tbody
          each val in envs
            tr
              td= val.key
              td= val.value